<p>password-delete works!</p>
<!-- 2 sections in this
1. change password( 3 fields: current password, new password, retype new password)
2. delete account ( just a button would be enough that upon click asks a further confirmation of this action, i'll put onClick()= some function on this later) -->

<form [formGroup]="profileForm">
  <label>
    Old Password:
    <input type="password" formControlName="old_password" size="40" required>
  </label>
  <label>
    New Password:
    <input type="password" formControlName="new_password1" size="40" required>
  </label>
  <label>
    Retype New Password:
    <input type="password" formControlName="new_password2" size="40" required>
  </label>
  <button type="submit" (click)="onSubmit()">Submit</button>
</form>