
<!-- 2 sections in this
1. change password( 3 fields: current password, new password, retype new password)
2. delete account ( just a button would be enough that upon click asks a further confirmation of this action, i'll put onClick()= some function on this later) -->

<div><form class="login" [formGroup]="profileForm">
 <input type="password" formControlName="old_password" placeholder="Old Password" required>
  <br>
 <input type="password" formControlName="new_password1" placeholder="New Password" required>
 <br>
 <input type="password" formControlName="new_password" placeholder="Re-type New Password" required>
 <br>


 
 <button type="submit" (click)="updateData()">Change Password</button>
 <button >Delete Account</button>
</form></div>