<div>
    <br>
    <br>
    <form [formGroup]="formGroup" novalidate>
      <input type="file" name="fileupload" (change)="onFileChange($event)" />
      <label for="fileupload"> &nbsp; &nbsp; Select the files &nbsp; &nbsp; &nbsp;</label>
      <br>
      <input type="file" name="boilerplateupload" (change)="onBoilerPlateChange($event)" />
      <label for="boilerplate"> &nbsp; &nbsp;Select boilerplate </label>
      <br>
      <br>


       <label>Select the plagiarism checker  </label>
      <input type="radio" name="filetype" value="cpp" required="required" (change)="onRadioChange($event)" />
      <label for="cpp">C++</label>
      <input type="radio" name="filetype" value="python" required="required" (change)="onRadioChange($event)" />
      <label for="python">Python</label>
      <input type="radio" name="filetype" value="text" required="required" (change)="onRadioChange($event)" />
      <label for="text">Text</label><br>
      <br>
      <br>
      <button type="submit" [disabled]="formGroup.invalid" (click)="onSubmit()">Upload the Code</button>
      <button (click)="onDownloadButtonClick()">Download Results</button>
    </form>

</div>
