$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

// Fonts
$fontAsap: 'Asap', sans-serif;

div{
    text-align: center;
}

button{
        font-family: $fontAsap;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        width: 120px;
        border: 0;
        padding: 10px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 5px;
        background-color: $greenSeaweed;
        box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.5);
        &:hover {
            background-color: darken($greenSeaweed, 5%);
          }
}

label{
    font-family: $fontAsap;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;    
}

input{
    font-family: $fontAsap;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 300px;
    border: 0;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: $greenSeaweed;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.5);
    &:hover {
        background-color: darken($greenSeaweed, 5%);
      }
}