<div>
    <form [formGroup]="formGroup" novalidate>
      <input type="file" name="fileupload" (change)="onFileChange($event)" />
      <label for="fileupload"> &nbsp; &nbsp; Select the files &nbsp; &nbsp; &nbsp;</label>
      <br>
      <input type="file" name="boilerplateupload" (change)="onBoilerPlateChange($event)" />
      <label for="boilerplate"> &nbsp; &nbsp;Select boilerplate </label>
      <br>
      <br>


       <label>Select the plagiarism checker  </label>
      <input type="radio" name="filetype" value="cpp" required="required" (change)="onRadioChange($event)" />
      <label for="cpp">C++ Pro</label>
      <input type="radio" name="filetype" value="python" required="required" (change)="onRadioChange($event)" />
      <label for="python">Python Pro</label>
      <input type="radio" name="filetype" value="moss" required="required" (change)="onRadioChange($event)" />
      <label for="moss">Code in Other Languages</label>
      <input type="radio" name="filetype" value="text" required="required" (change)="onRadioChange($event)" />
      <label for="text">English Text</label><br>
      <br>
      <br>
      <button type="submit" [disabled]="formGroup.invalid" (click)="onSubmit()">Upload the Code</button>
      <button (click)="onProcessFiles()">Process Files</button>
      <button (click)="onDownloadButtonClick()">Download Results</button>
      <button (click)="onShowResults()"> Show Results </button>
    </form>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="column">
        <figure>
          <img [src]="heatMap"  style="width:100%">
          <figcaption>Heat Map</figcaption>
        </figure>
      </div>
      <div class="columnr">
        <figure>
          <img [src]="histogram"  style="width:100%">
          <figcaption>Histogram</figcaption>
        </figure>
      </div>
    </div>
</div>
