<div>	<a routerLink="/dashboard/account/profile">VIEW PROFILE</a>
    <br>
    <br>
    <a routerLink="/dashboard/account/edit_profile">EDIT PROFILE</a>
    <br>
    <br>
    <a routerLink="/dashboard/account/security">SECURITY</a>

</div>

<!-- Add code for sidebar here which will have three option
1. view profile -> router link to /dashboard/account/profile(make this dafault also)
2. Edit profile -> router link to /dashboard/account/edit_profile
3. Account security -> router link to /dashboard/account/security -->
<router-outlet></router-outlet>